@charset "utf-8";
/* CSS Document */
html {
  overflow: auto;
}
body {
  overflow: hidden;
  margin: 0;
  color: #6B6B6B;
}
a:link, a:visited, a:hover, a:active {
  color: #6B6B6B;
}
#header_pc {
  background: rgba(255, 255, 255, 0.9);
  z-index: 1;
  position: fixed;
  top: 0;
  left: 0;
  width: 20%;
  height: 100vh;
  padding: 3.5rem 1.5625% 0;
  transition: background 2s;
}
#nav {
  list-style: none;
  padding: 0;
  margin-top: 1.5em;
}
h3 {
  position: relative;
  margin: 1em auto;
  width: 5em;
  font-size: 2em;
  /**
  border-bottom: solid 2px #f4aa9a;
**/
}
h3::after {
  position: absolute;
  bottom: -10px;
  left: 50%;
  transform: translateX(-50%);
  width: 3em;
  height: 2px;
  background: #F4AA9A;
  content: '';
}
.tel {
  position: fixed;
  top: 0;
  right: .5%;
  z-index: 2;
  background: #F4AA9A;
  color: #FFFFFF;
  text-align: center;
  border-radius: 0 0 7px 7px;
  padding: 0 1%;
}
#main_image img {
  height: 100vh;
  width: 100%;
  object-fit: cover;
  /**margin-top: -10px;**/
}
section {
  width: 80%;
  margin-left: 23%;
}


.fadein {
	opacity : 0.1;
	transform : translate(0, 50px);
	transition : all 500ms;
	}

.fadein.scrollin {
	opacity : 1;
	transform : translate(0, 0);
	}


.info_box > div.fadein:nth-of-type(1) {
transition-delay:200ms;

	}

.info_box > div.fadein:nth-of-type(2) {
transition-delay:400ms;

	}

.info_box> div.fadein:nth-of-type(3) {
transition-delay:600ms;

	}

.news {
  margin: 0 auto;
}
.news dl {
  width: 75%;
  padding-top: 2em;
}
.news dt {
  padding-bottom: 1rem;
  margin-bottom: 1rem;
}
.news dd {
  margin-bottom: 1rem;
  padding-bottom: 1rem;
}
.news dt {
  float: left;
}
.news dd {
  margin-left: 10em;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}
.details {
  text-decoration: none;
}
.details_box {
  text-align: center;
  width: 25%;
}
.blog dt {
  float: left;
  margin-bottom: 1rem;
  padding-bottom: 1rem;
}
.blog dd {
  margin-left: 10em;
  margin-bottom: 1rem;
  padding-bottom: 1rem;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}
.blog dl {
  width: 75%;
  margin: 0 auto;
  padding-top: 2em;
  padding-left: 5%;
}
#footer {
  position: relative;
  z-index: 2;
  background-color: #F7F3EC;
	    margin-bottom: -1%;
}
#footer .container {
  display: flex;
}
#footer .container #schedule {
  width: 40%;

  margin: 0 auto;
}

#schedule table{

}
#footer .container #schedule table {
  width: 100%;
  background-color: white;
}
table {
  border-collapse: collapse;
  border-spacing: 0;
}
#schedule table tr th, #schedule table tr td {
  border: 1px solid aliceblue;
  text-align: center;
  padding: 1rem;
}
#footer .container {
  width: 90%;
  margin: 0 auto;
  padding: 2% 0;
}
.closed_day {
  margin-bottom: 2rem;
  text-align: right;
  font-size: 0.7rem;
}
.annotation {
  font-size: 0.9rem;
}
.annotation span {
  font-weight: bold;
  display: inline-block;
  margin-right: 1rem;
}
#access {
  width: 40%;
  margin: 0 auto;
}
#schedule span {
  display: block;
}
h3 {
  text-align: center;
}
#mainnav ul li {
  height: 10vh;
  border-bottom: 1px solid #f9d6e2;
  display: flex;
  justify-content: center;
  align-items: center;
}
#mainnav ul li a {
  font-size: 3vh;
  text-decoration: none;
  color: #6B6B6B;
  text-shadow:
    2px 2px 1px #ffffff, -2px 2px 1px #ffffff, 2px -2px 1px #ffffff, -2px -2px 1px #ffffff, 2px 0px 1px #ffffff, 0px 2px 1px #ffffff, -2px 0px 1px #ffffff, 0px -2px 1px #ffffff;
}
#mainnav ul li:hover {
  background-image: url("../images/top/asiato.png");
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center;
  background-image: url("../images/top/asiato.png");
}
#mainnav div {
  text-align: center;
}
#mainnav div img {
  height: 11em;
}
.info_text {
  position: relative;
  background-color: #fff;
  background-image: linear-gradient(-45deg, rgba(249, 214, 226, .5) 25%, transparent 25%, transparent 50%, rgba(249, 214, 226, .5) 50%, rgba(249, 214, 226, .5) 75%, transparent 75%, transparent 100%), linear-gradient(45deg, rgba(249, 214, 226, .5) 25%, transparent 25%, transparent 50%, rgba(249, 214, 226, .5) 50%, rgba(249, 214, 226, .5) 75%, transparent 75%, transparent 100%);
  background-size: 40px 40px;
  padding: 1em;
  width: 33.3%;
  margin: 0 1.5%;
}
.info_title {
  position: absolute;
  top: -0.75em;
  background-color: rgba(255, 255, 255, .4);
  border-left: 2px dotted rgba(0, 0, 0, .1);
  border-right: 2px dotted rgba(0, 0, 0, .1);
  box-shadow: 0 0 5px rgba(0, 0, 0, 0.2);
  padding: 0.25em 2em;
  color: #6B6B6B;
  transform: rotate(-3deg);
}
.info_text p {
  color: #6B6B6B;
  padding: 15px 10px 10px 10px;
}
.info_box {
  display: flex;
  padding: 5%;
}
.info_box img {
  margin: 5%
}
.news dl {
  margin: 0 auto;
  padding-left: 5%;
}
#mainnav div {}
.flexbox {
  display: flex;
  padding: 0 5%;
}
.flexbox dl {
  width: 65%;
}
.btn-news {
  text-align: center;
  margin: 4em 0;
}
.btn-news a {
  position: relative;
  display: inline-block;
  padding: .9em 4em;
  background-color: #F4AA9A;
  border: 2px solid #F4AA9A;
  color: #fff;
  text-align: center;
  text-decoration: none;
}
.btn-news a::after {
  position: absolute;
  top: 50%;
  right: .2em;
  content: '';
  margin-top: -5px;
  border: 7px solid transparent;
  border-top-width: 5px;
  border-bottom-width: 5px;
  border-left-color: #fff;
  transition: all .2s;
}
.btn-news a:hover::after {
  right: -.05em;
}
.btn-blog {
  text-align: center;
  margin: 4em 0;
}
.btn-blog a {
  position: relative;
  display: inline-block;
  padding: .9em 4em;
  background-color: #F4AA9A;
  border: 2px solid #F4AA9A;
  color: #fff;
  text-align: center;
  text-decoration: none;
}
.btn-blog a::after {
  position: absolute;
  top: 50%;
  right: .2em;
  content: '';
  margin-top: -5px;
  border: 7px solid transparent;
  border-top-width: 5px;
  border-bottom-width: 5px;
  border-left-color: #fff;
  transition: all .2s;
}
.btn-blog a:hover::after {
  right: -.05em;
}

/**spmenu**/
#header_sp {
  padding: 16px;
  background: #f4aa9a;
}
.h-menu {
  position: relative;
}
/*inputのcheckboxは非表示に*/
.h-menuCheckbox {
  display: none;
}
/*ハンバーガーメニュー*/
.h-menu_icon {
  display: inline-block;
  width: 30px;
  height: 30px;
  vertical-align: middle;
}
/*3本線*/
.hamburger-icon, .hamburger-icon::before, .hamburger-icon::after {
  content: '';
  display: block;
  position: absolute;
  z-index: 100;
  top: 0;
  right: 0;
  bottom: 0;
  width: 32px;
  height: 3px;
  background: white;
  cursor: pointer;
}
.hamburger-icon {
  margin-right: 5%;
}
.hamburger-icon:before {
  top: 10px;
}
.hamburger-icon:after {
  top: 20px;
}
/*メニュー以外を暗くする*/
#h-menu_black {
  display: none;
  position: fixed;
  z-index: 98;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: black;
  opacity: 0;
  transition: .7s ease-in-out;
}
/*中身*/
#h-menu_content {
  position: fixed;
  top: 0;
  right: 0;
  z-index: 99;
  width: 100%;
  max-width: 320px;
  height: 100vh;
  padding: 53px 16px 16px;
  background: #f4aa9a;
  overflow: auto;
  transition: .3s ease-in-out;
  -webkit-transform: translateX(105%);
  transform: translateX(105%);
}
/*チェックボックスにチェックが入ったら表示*/
input:checked ~ .h-menu_icon .hamburger-icon {
  background: transparent;
}
input:checked ~ .h-menu_icon .hamburger-icon::before {
  -webkit-transform: rotate(-45deg);
  transform: rotate(-45deg);
  top: 10px;
  z-index: 999;
}
input:checked ~ .h-menu_icon .hamburger-icon::after {
  -webkit-transform: rotate(45deg);
  transform: rotate(45deg);
  top: 10px;
  z-index: 999;
}
input:checked ~ #h-menu_black {
  display: block;
  opacity: .8;
}
#h-menu_checkbox:checked ~ #h-menu_content {
  -webkit-transform: translateX(5%);
  transform: translateX(5%);
  box-shadow: 6px 0 25px rgba(0, 0, 0, .15);
}
.h-menu_icon .hamburger-icon, .h-menu_icon .hamburger-icon::before, .h-menu_icon .hamburger-icon::after, #h-menu_black, #h-menu_content {
  -webkit-transition: all .3s;
  transition: all .3s;
}
#h-menu_content ul {
  list-style: none;
  margin: 0;
  padding: 0;
}
#h-menu_content ul li {
  border-bottom: solid 1px white;
}
#h-menu_content li a {
  display: block;
  color: white;
  font-size: 14px;
  padding: 24px;
  text-decoration: none;
  transition-duration: 0.2s;
}
#h-menu_content li a:hover {
  background: #f9d6e2;
}
#header_sp img {
  float: left;
  margin-top: -5px;
  max-width: calc(100% - 40px);
  height: 40px;
}
.fa-phone {
  text-decoration: none;
  color: #ffffff;
}
a.fa-phone:link, a.fa-phone:visited, a.fa-phone:hover, a.fa-phone:active {
  color: #ffffff;
}
.floating_menu {
  position: fixed;
  bottom: 0;
  width: 100%;
  display: inline-block;
  height: 40px;
  background: #f4aa9a;
  z-index: 2;
}
#header_sp {
  width: 96%;
  position: fixed;
  z-index: 999;
}
.inline_block {
  display: inline-block;
}
#footer img {
  display: block;
  margin: 0 auto;
  width: 20%;

	

}

.footer_list {
	text-align: center;
	padding-left: 0;
}

.footer_list li{
	list-style: none;
	display: inline-block;
	font-size: 1.2em;
	margin-bottom: 1%;
}

.footer_list li:before{
	content: "　"
}
.footer_list li:first-child:before{
	content: ""
}
.footer_list li:after{
	content: "　/"
}
.footer_list li:last-child:after{
	content: ""
}

.footer_list a{
	text-decoration: none;
}



@media screen and (min-width:769px) {
  #menu {
    display: none;
  }
  #header_sp {
    display: none;
  }
	p.inquiry_sp{
		display: none;
	}
}
@media screen and (max-width:768px) {
	
	#footer{
		margin-bottom: -4%;
		padding-bottom: 15%;
	}
	
	#schedule table tr th, #schedule table tr td {
  border: 1px solid aliceblue;
  text-align: center;
  padding: 0;
}
	#footer .container{
		display: block;
		
	}
	
	#footer .container #schedule {
    width: 100%;
    margin: 5% 0;
}
	#access {
    width: 100%;
    margin: 5% 0;
}
	#footer img {
    display: block;
    margin: 0 auto;
    width: 40%;
    margin-top: -4%;
    margin-bottom: 3%;
}
	
  #header_pc {
    display: none;
  }
  h3 {
    font-size: 1.5em;
  }
  #main_image img {
    margin-top: 67px;
  }
  .tel {
    display: none;
  }
  #main_image img {
    height: 45vh;
  }
  section {
    margin-left: 0;
    margin: 0 auto;
  }
  .details_box {
    display: none;
  }
  .flexbox dl {
    width: 100%;
  }
  .news dl {
    width: 100%;
  }
  .blog dl {
    width: 100%;
  }
  .info_text {
    width: 100%;
    margin-bottom: 10%;
  }
  .info_box {
    display: block;
  }
  .info_text {
    margin: 5% 0;
    margin-left: -5%;
  }
  .news dd {
    margin-left: 7em;
  }
  .blog dd {
    margin-left: 7em;
  }
}

.inquiry_sp {
position: fixed;
  width: 200px;
  height: 44px;
  text-align: center;
  line-height: 44px;
  left:50%;
  bottom: 0;
  margin-left:-100px;
  display: block;
  background: rgba(0,102,204,.7);
  color: #fff;
  text-align: center;
  text-decoration: none;
  font-size:12px;
  border-radius: 10px;
	background: #f4aa9a;
	opacity: 0.8;
	z-index: 999;
}
.inquiry_sp:hover{
	opacity: 0.9;
}


